<mat-card *ngIf="!showQuizCompleted" [@technologyState]="state" class="card main-route-details">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Question {{ question.id }} of {{ totalQuestions }}</mat-card-title>
      <mat-card-subtitle>
        <pre>
          <code class="sub-title">
            {{ question.title }}
          </code>
      </pre>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     <p *ngFor="let answer of question.answers; let i = index;">
              <mat-checkbox
                #check
                (change)="answered(i, check.checked); check.checked = true;"
                [disabled]="!check.checked && showNextButton">
                {{ answer }}
              </mat-checkbox>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="showNextButton" mat-raised-button color="accent"
      (click)="next();" mat-button>Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="showQuizCompleted" class="card main-route-details">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Congratulations:</mat-card-title>
        <mat-card-subtitle>
          You scored {{ result }} % !!!
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/congratulations.jpg" alt="Photo of Congratulations">
      <mat-card-content>
            'Kindness is the most important SuperPower.' Igor Minar, Lead Angular Team.
            <div class="button-row">
                <button mat-icon-button color="warn">
                    <mat-icon aria-label="icon-button with a heart icon">favorite</mat-icon>
               </button>
               <button mat-icon-button color="warn">
                  <mat-icon aria-label="icon-button with a heart icon">favorite</mat-icon>
               </button>
               <button mat-icon-button color="warn">
                    <mat-icon aria-label="icon-button with a heart icon">favorite</mat-icon>
               </button>
              </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="retakeQuiz()" mat-button>Retake Quiz</button>
      </mat-card-actions>
    </mat-card>
