<div class="container card-position">
    <div class="row">
      <div *ngFor="let app of apps | async" class="col-12 col-sm-6 col-md-4 col-lg-3">
      <mat-card class="card">
      <mat-card-header>
        <mat-card-title><h2>{{ app.name }}</h2></mat-card-title>
      </mat-card-header>
        <img mat-card-image [src]="app.imageUrl" alt="app.name + 'logo'">
        <mat-card-actions>
          <a mat-button [href]="app.url" target="_blank" rel="noopener" color="accent">
            Visit PWA
          </a>
          <a mat-button [routerLink]="['/pwa-center/', app.id]">DETAILS</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

