<mat-card class="card main-route-details">
    <mat-card-content>
        <h1>{{ title }}</h1>
          <h2>My Technologies</h2>
          <mat-list role="list" class="technologies">
              <mat-list-item *ngFor="let technology of technologies"
                role="listitem">#
               <a routerLink="/detail/{{ technology.id }}">
                    <span class="badge">{{ technology.id }}</span>{{ technology.name }}
               </a>
              </mat-list-item>
          </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <!-- <app-messages></app-messages> -->
    </mat-card-actions>
  </mat-card>

