<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span routerLink="/home">Angular 5 Quiz</span>
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/technologies">Technologies</a>
    <span class="example-spacer"></span>

    <a mat-button href="https://angular.io" target="_blank">Angular</a>
    <a mat-button href="https://cli.angular.io/" target="_blank">Angular CLI</a>
    <a mat-button href="https://material.angular.io/" target="_blank">Angular Material</a>
  </mat-toolbar-row>
</mat-toolbar>
