<mat-grid-list cols="4" class="main-route-details">
    <mat-card class="card-header">
      <h4>Top Technologies</h4>
    </mat-card>
     <ng-container *ngFor="let technology of technologies">
      <mat-grid-tile>
        <mat-card class="card" routerLink="/detail/{{ technology.id }}">
            <mat-card-content>
              {{ technology.name }}
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
</mat-grid-list>
<app-technology-search></app-technology-search>

