<mat-card class="card" *ngIf="(app$ | async)[0] as app">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>{{ app.name }}</h1></mat-card-title>
      <mat-card-subtitle>
        Mobile && Progressive Web Apps are the future!
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="app.imageUrl" [alt]="app.name + 'logo'">
    <mat-card-content>
      <p>
          {{ app.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [href]="app.url" target="_blank" mat-button>
        Visit PWA
      </a>
      <a mat-raised-button color="primary" [routerLink]="['/pwa-center']" mat-button>
        HOME
      </a>
    </mat-card-actions>
  </mat-card>
