@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Roboto', sans-serif;
}

.lightred {
  background-color: #ffe6e6;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app{
  height: 100vh;
}
