/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.lightred {
  background-color: #ffe6e6;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app{
  height: 100vh;
  background-color: #ffe6e6;
}
