<mat-card class="card main-route-details">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Are you ready to think?</mat-card-title>
    <mat-card-subtitle>
      This is a JavaScript Quiz made with Angular 5.1.1
      Angular CLI 1.6.1 and Angular Material 5.0.1
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/quiz.jpg" alt="Photo of a Quiz">
  <mat-card-content>
    <p>
        'Kindness is the most important SuperPower.' Igor Minar, Lead Angular Team.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="startQuiz()" mat-button>Start Quiz</button>
  </mat-card-actions>
</mat-card>
